---
import BaseLayout from '@/layouts/BaseLayout.astro'
import PostCard from '@/components/PostCard.astro'
import PageNav from '@/components/widget/PageNav.astro'
import { POST_PGAE_SIZE as pageSize } from '@/config'
import posts_all from '@/content/posts'
const posts = posts_all.slice(0, pageSize)
const pnCurr = 1, pnLast = Math.ceil(posts_all.length * 1.0 / pageSize)
---

<BaseLayout asideCards={[
  'CardInfo',
  ['CardMarkdown', { title: 'Hola! 👋', content:'- Soy Rafael Morinigo, apasionado por los CTF y la ciberseguridad. Me encanta analizar vulnerabilidades, resolver desafíos y aprender nuevas técnicas de hacking ético.  \n- [**GitHub**](https://github.com/CorvusH4ck) \n- [**LinkedIn**](https://www.linkedin.com/in/rafael-morinigo-1637491bb/)'}],
  'CardCategroies',
  'CardTagCloud',
  'CardSiteInfo',
  'CardToolbar',
]}>
  <div class="space-y-5">
    {posts.map((post) => (
      <PostCard {post}/>
    ))}
  </div>
  <PageNav {pnCurr} {pnLast} urlPrefix="/page/" urlFirst="/"/>
</BaseLayout>
